body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    width: 500px;
  margin: 0 auto;
padding-top: 20px;
margin-top: 250px;
}
header{
    display: flex;
background-color: #ce84ce;
padding-right: 40px;
}
img{
    width: 45px;
height: 45px;
margin-top: 20px;
}
.content{
    background-color: white;
}

h1 {
    text-align: center;
    margin-left: 120px;
}
.button{
    display: flex;
    justify-content: space-between;
}
#button{
    border-radius: 10px;
    margin-left: 200px;
}

button {
    background-color: #d989c9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}
a{
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li button {
    background-color: #d989c9;
}

li button:hover {
    background-color: #e41d21;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    margin: 20px 0;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.completed {
    text-decoration: line-through;
    color: gray;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.task-item input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}
.task-text {
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 50px;
}
.task-buttons {
    display: flex;
    gap: 10px;
}
.task-buttons button {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 10px;
}
